@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="text-blue">
            PHP Hosting
        </h1>
        <div class="description">
            <p>
                Cepat, handal, penuh dengan modul PHP yang Anda butuhkan
            </p>
        </div>
        <br>
    </div>

    <div class="col-md-6">
        <img src="~/svg/illustration_banner_PHP_hosting_01.svg" class="banner-img" alt="banner php hosting">
    </div>
</div>
